.featured-products-wrapper {
  width: 70%;
  margin: 3rem auto;
  row-gap: 1rem;
}

.featured-products-wrapper > .card {
  width: 30rem;
}

@media screen and (max-width: 1024px) {
  .featured-products-wrapper {
    width: 100%;
  }
}