.cart-discount {
  color: var(--primary);
}
.cart-delivery-fee {
  color: var(--primary);
}
.cart-empty {
  margin: auto;
}
.cart-savings {
  border: 1px solid var(--secondary);
  background: var(--secondary-light);
  color: var(--text-color);
}

.wishlist > main {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
.cart-summary {
  min-width: 30rem;
  flex-shrink: 0;
}
.cart-items {
  flex-grow: 1;
}
.left {
  left: -2px;
}
.fill-height {
  height: -webkit-fill-available;
}
.price {
  margin-top: 10px;
}
.react-icon {
  vertical-align: middle;
  top: -1px;
}
.total-amount {
  align-items: flex-end;
}
.total-amount > span {
  color: var(--text-color);
}
