.btn-login,
.hamburger {
  /*  transparent by default */
  background: white;
}
.btn-login:hover,
.hamburger:hover {
  /* primary color by default */
  border-color: white;
}

.icon {
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.input {
  background: white;
  padding-right: 4rem;
}

.searchbar {
  width: 40vw;
}

.searchbar > input {
  width: 100%;
}

.white {
  color: white;
}

@media (max-width: 640px) {
  .searchbar {
    display: none;
  }
}
