
.btn-login,.hamburger {
  /*  transparent by default */
  background: white; 
}
.btn-login:hover,.hamburger:hover {
  /* primary color by default */
  border-color: white; 
}

.input {
  background: white;
}

.searchbar {
  width: 40vw;
}

.searchbar > input {
  width: 100%;
}

.white {
  color: white;
}

@media (max-width: 640px) {
  .searchbar {
    display: none;
  }
}
