.close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid var(--secondary-light);
  max-width: 75vw;
  z-index: 2;
  position: sticky;
  height: fit-content;
  top: 2rem;
}

.sidebar-bg {
  display: none;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: fixed;
}

.sidebar.open-sidebar {
  left: 0;
}
.sidebar-bg-open {
  display: block;
}

.sidebar-heading {
  display: none;
  right: 0;
  top: 5rem;
  justify-content: center;
  height: fit-content;
}

.sidebar > div {
  border-bottom: 1px solid var(--secondary-light);
}

.category-item {
  padding: 5px 0;
}

.price-filter-slider {
  outline: 1px solid transparent;
  accent-color: var(--text-color);
  cursor: ew-resize;
}

.rating {
  column-gap: 1rem;
}

.rating-chip {
  gap: 2px;
  border: 1px solid var(--secondary-light);
}

.rating-chip:hover {
  background-color: var(--secondary-light);
}

.rating-selected {
  background-color: var(--secondary);
}

@media only screen and (max-width: 640px) {
  .sidebar {
    position: fixed;
    z-index: 2;
    height: 100%;
    max-width: 300px;
    top: 0;
    background: var(--bg-primary);
    left: -100vw;
    margin: 0;
    transition: 0.3s ease-in-out;
  }
} ;
