.product-page {
  grid-template-columns: 25rem 1fr;
  
}

.pointer {
  cursor: pointer;
}


.product-page .card {
  width: 100%;
}

.product-list {
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  align-content: baseline;
}
