.product-page {
  grid-template-columns: 25rem 1fr;
}

.pointer {
  cursor: pointer;
}

.product-page .card {
  width: 100%;
}

.product-list {
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
  align-content: baseline;
}
