@import url(../node_modules/mockman-js/dist/style.css);

a {
  text-decoration: none;
}

.App {
  min-height: 100vh;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
}

footer {
  grid-area: footer;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 1rem;
  text-align: center;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
}

.products {
  grid-template-areas: "header header" "sidebar main" "footer footer";
  grid-template-columns: 25rem 1fr;
}

h1,
h2,
h3,
h4 {
  font-family: "Ubuntu", sans-serif;
  color: var(--text-color);
  text-transform: uppercase;
}

main {
  grid-area: main;
}

.rounded-circle {
  border-radius: 50px;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.font-bebas {
  font-family: "Bebas Neue", cursive;
}
.btn-cta {
  background: var(--text-color);
  color: var(--bg-primary);
  letter-spacing: 0.1ch;
}
.btn-cta-secondary {
  background: var(--secondary-light);
  border: 1px solid var(--secondary);
  color: var(--text-color);
  letter-spacing: 0.1ch;
}

div.toast {
  background: var(--text-color);
  color: var(--bg-primary);
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 640px) {
  .App {
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
  }
  .main {
    margin: 3rem 1rem 1rem;
  }
}
