@import url(../node_modules/mockman-js/dist/style.css);

a {
  text-decoration: none;
}

.App {
  height: 100vh;
  grid-template-areas: "header header" "sidebar main" "footer footer";
  grid-template-columns: 25rem 1fr;
}
footer {
  grid-area: footer;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 1rem;
  text-align: center;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
}
.homepage {
  grid-template-areas: "header header" "main main" "footer footer";
}

h1,
h2,
h3,
h4 {
  font-family: "Ubuntu", sans-serif;
  color: var(--text-color);
  text-transform: uppercase;
}

main {
  grid-area: main;
}

.rounded-circle {
  border-radius: 50px;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.font-bebas {
  font-family: "Bebas Neue", cursive;
}

div.toast {
  background: var(--text-color);
  color: var(--bg-primary);
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 640px) {
  .App {
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
  }
  .sidebar {
    left: -100vw;
    position: fixed;
    z-index: 1;
    background: var(--bg-primary);
    height: 100vh;
    margin: 0;
    transition: 0.3s ease-in-out;
  }
  .main {
    margin: 3rem 1rem 1rem;
  }
}
