@import url(../node_modules/mockman-js/dist/style.css);

a {
  text-decoration: none;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.App {
  height: 100vh;
}

div.toast {
  background: #1a1a1a; /* var(--text-color); */
  color: aliceblue; /* var(--bg-primary)*/
}
