@import url("https://elevate-ui.vercel.app/components/components.css");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-primary);
}

:root {
  --primary: #764134;
  --secondary: #c7ac92;
  --secondary-light: #e3d6c9;
  --bg-primary: #fcfcfc;
  --text-color: #34252f;
  --text-color100: #eee;
  --icon-hover: #e50010;
}

.loader-box {
  visibility: hidden;
  position: fixed;
  inset: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  z-index: 3;

  /* Giving custom css here so that loader's style gets applied even if the CL styles are loading.*/
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.show-loader {
  visibility: visible;
}
