.img-container {
  width: 15rem;
  height: 15rem;
  border-radius: 0.5rem;
  overflow: hidden;
  flex-shrink: 0;
}

.order-item-img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.order-item-info {
  justify-content: space-around;
}
